<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824179683788-avlndhcdockn3jn5ec2mnlbp57v1592l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824179683788-avlndhcdockn3jn5ec2mnlbp57v1592l</string>
	<key>API_KEY</key>
	<string>AIzaSyDG-aTLENPwRduEgQSIotXfeONTL_4p_wI</string>
	<key>GCM_SENDER_ID</key>
	<string>824179683788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.r0h.eonsound</string>
	<key>PROJECT_ID</key>
	<string>eonsound</string>
	<key>STORAGE_BUCKET</key>
	<string>eonsound.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824179683788:ios:8fff2fff3c2ca6547ded69</string>
	<key>DATABASE_URL</key>
	<string>https://eonsound.firebaseio.com</string>
</dict>
</plist>